[user]
	name = cas7breeder
	email = castbreeder@posteo.net

[core]
	editor = vim
	autocrlf = input

[alias]
	st = status
    df = diff
    dfi = diff --cached
	co = checkout
	cm = commit -m
	cma = commit --amend
	br = branch
	cb = checkout -b
	lga = log --graph --oneline --all --decorate
	lo = log --oneline

# Disabled for now as it tends to delete the email record between checkouts
[filter "demail_git_config"]
	clean = "sed '/^\\s*email\\s*=/'d"

[pull]
	ff = only

[color "status"]
    added = 76
    changed = 124
    untracked = 124
    branch = 39 bold
    localBranch = 76
    remoteBranch = 124
    nobranch = 124 bold
    unmerged = 124 bold

[color "branch"]
    current = 39 bold
    local = 76 bold
    remote = 124
    upstream = 124 bold

[color "diff"]
    old = "#d80000"
    new = "#00d000"
    whitespace = "#d80000" "#eeeeee" bold

[color "decorate"]
    branch = 76 bold
    remoteBranch = 124 bold
    tag = 99 bold
    HEAD = 39 bold

[init]
	defaultBranch = master
