[user]
	name = cas7breeder

[core]
	editor = vim

[alias]
	st = status
    df = diff
    dfi = diff --cached
	co = checkout
	cm = commit -m
	br = branch
	cb = checkout -b
	lga = log --graph --oneline --all --decorate

[filter "demail_git_config"]
	clean = "sed '/^\\s*email\\s*=/'d"

[pull]
	ff = only
